# Copyright Jeron Aldaron Lau 2018-2019.
#
# Dual-licensed under either the MIT License or the Boost Software License, Version 1.0.
# (See accompanying file LICENSE_1_0.txt or copy at https://www.boost.org/LICENSE_1_0.txt)

[package]
name = "fonterator"
version = "0.6.0"
authors = [
	"Jeron Aldaron Lau <jeronlau@plopgrizzly.com>"
]
edition = "2018"

license = "MIT / BSL-1.0"
documentation = "https://docs.rs/fonterator"
homepage = "https://libcala.github.io/fonterator"
repository = "https://github.com/libcala/fonterator"

readme = "README.md"
description = "Load fonts as vector graphics in pure Rust with advanced text layout."
keywords = ["font", "truetype", "opentype", "ttf", "otf"]
categories = ["gui", "rendering"]

[badges]
travis-ci = { repository = "libcala/fonterator" }
is-it-maintained-open-issues = { repository = "libcala/fonterator" }
maintenance = { status = "actively-developed" }

[package.metadata.docs.rs]
all-features = true

[dependencies]
footile = "0.3" # { path = "../../fork/footile" } # "0.3"
# unicode-width = "0.1"
unicode-script = "0.5" # For calculating text direction.

# For reading TTF/OTF files
[dependencies.ttf-parser]
version = "0.5"
default-features = false # Don't depend on log crate

[dev-dependencies]
svg = "0.6"
footile = "0.3" # { path = "../../fork/footile" } # "0.3"
png_pong = { path = "../../lordaldaron/png_pong" } # "0.1.0"
pix = "0.8"

[features]
default = ["monospace-font"]
monospace-font = []
normal-font = []
