# Copyright Jeron Lau 2018-2019.
# Copyright Dylan Ede 2016.
# Dual-licensed under either the MIT License or the Boost Software License, Version 1.0.
# (See accompanying file LICENSE_1_0.txt or copy at https://www.boost.org/LICENSE_1_0.txt)

[package]
name = "fonterator"
version = "0.4.1"
authors = [
	"Jeron Aldaron Lau <jeronlau@plopgrizzly.com>"
]
edition = "2018"

license = "MIT / BSL-1.0"
documentation = "https://docs.rs/fonterator"
homepage = "https://code.plopgrizzly.com/fonterator"
repository = "https://github.com/plopgrizzly/fonterator"

readme = "README.md"
description = "Load fonts as vector graphics in pure Rust."
keywords = ["font", "truetype", "opentype", "ttf", "otf"]
categories = ["gui", "rendering"]

exclude = [
	"examples/*", "CODE_OF_CONDUCT.md", "CONTRIBUTING.md", ".gitignore",
	"_config.yml", "ISSUE_TEMPLATE.md", "icon.png", "icon.ico", "font/*"
]

[dependencies]
footile = "0.3"
byteorder = "1.3"
unicode-normalization = "0.1"
unicode-width = "0.1"

[dev-dependencies]
svg = "0.5"

[features]
default = ["builtin-font"]
builtin-font = []
